* {
  box-sizing: border-box;
  font-family: 'Spirit Ginger', sans-serif;

}
body {
  margin: 10%;
  background: url(/assests/image/bgPokemon-v2.jpg) no-repeat center center fixed;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 
}
main{
  display: flex;
  justify-content: center;
}



.container {
  margin-top: 40px;
  background-color: rgba(74, 177, 241, 0.813);
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(3, 101, 214, 0.683) 0px 0px 0px 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-perform{
  margin: 2px auto;
  padding: 2cap;
  font-size: 18px;
  background-color: rgba(1, 36, 51, 0.249);
  
  border-radius: 50% ;
}
.field-set{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.selcte{
  padding: 3px;
  text-align: center;
  background-color: rgba(9, 134, 236, 0.578);

}
.option{
  text-align: center;
  background-color: transparent;
  box-shadow: rgba(3, 101, 214, 0.683) 0px 0px 0px 3px;
}
.img-choix {
  display: flex;
  justify-content: center;
  width: 24rem;
  border-radius: 50%;
  box-shadow: rgb(24, 23, 22) 0px 20px 30px -10px;
  /* background: transparent; */
}
