* {
  box-sizing: border-box;

}
body {
  background-image: url(/assests/image/bgPokemon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;

  display: flex;
  justify-content: space-between;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: rgba(252, 252, 252, 0.945);
  box-shadow: rgba(55, 28, 28, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}
.select {
  background-color: rgb(207, 207, 27);
}
.img-choix {
  width: 30%;
  height: 50%;
  border-radius: 50%;
  box-shadow: rgb(122, 50, 36) 0px 20px 30px -10px;
}
.nom-p {
  font-size: 78px;
  width: 43px;
  
}
