* {
  box-sizing: border-box;
  font-family: "Spirit Ginger", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 10%;
  background: url(/assests/image/bgPokemon-v2.jpg) no-repeat center center fixed;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT";
}
h1 {
  text-align: center;
  font-size: 50px;
}
#container {
  margin: 0px auto;
  width: 800px;
  height: 800px;
}

#champ_parent {
  margin: 0 auto;
  margin-top: 10px;
  width: 550px;
  background-color: rgba(74, 177, 241, 0.813);
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(3, 101, 214, 0.683) 0px 0px 0px 3px;
  flex-direction: column;
}

#fieldSet {
  height: 100px;
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

.cadre-radio {
  margin: 10px auto;
}

#cadre_button {
  text-align: center;
}
.field-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cadre-selection {
  display: flex;
  flex-direction: row;
}
select {
  margin-left: 3px;
  padding: 3px;
  text-align: center;
  background-color: rgba(9, 134, 236, 0.578);
  height: 25px;
}
#cadre_travail {
  width: 500px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cellule {
  width: 50%;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.celluleM {
  height: 20px;
  width: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.option {
  text-align: center;
  background-color: transparent;
  box-shadow: rgba(3, 101, 214, 0.683) 0px 0px 0px 3px;
}
img {
  width: 310px;
}
#cadre_travail_titre {
  /* border: 1px solid rgb(107, 177, 3); */
  margin-top: 10px;
  padding-left: 30px;
  font-size: 30px;
}
#cadre_travail_data {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(31, 237, 252); */
}
#button_recherche {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Spirit Ginger", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
#button_recherche:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
#button_recherche:hover {
  box-shadow: rgba(5, 108, 225, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#button_recherche:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#cadre_travail_stats {
  display: flex;
}
#cadre_elements {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 2px;
}
#cadre_evolution {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#cadre_liste {
  /* border: 1px solid pink; */
  width: 300px;
  font-size: 25px;
}
