* {
  box-sizing: border-box;
    
}
body {
  margin: 10%;
  background-image: url(/assests/image/bgPokemon.jpg);
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
}
main{
  display: flex;
  justify-content: center;
}

.header {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 40px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 60%;
  background-color: rgba(252, 252, 252, 0.945);
  box-shadow: rgba(55, 28, 28, 0.377) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}

.selecte {
  background-color: rgba(230, 227, 218, 0.731);
  width: 180px;
  justify-content: center;
}
.container-perform ul > li {
  margin: 3px auto;
  padding: 23px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  color: chartreuse;
  background: transparent;
}
.img-choix {
  width: 40%;
  height: 60%;
  border-radius: 50%;
  box-shadow: rgb(24, 23, 22) 0px 20px 30px -10px;
  background: transparent;
}
